@charset "utf-8";

/* ============ reset ============ */
body, p, h1, h2, h3, h4, h5, h6, ul, ol,
li, dl, dt, dd, table, th, td, form,
fieldset, legend, input, textarea, button,
select {
  margin: 0;
  padding: 0;
}
/* 폰트 지정 */
html {
  font-size: 10px;
}
body, table, input, select, textarea, button {
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 1.4rem; 
  /* line-height: 1.7rem; */
}
/* 블릿 제거 */
ul, ol, li {
  list-style: none;
}
/* 이미지 */
img {
  border: 0;
  vertical-align: top;
}
/* 수평선 hide */
hr {
  display: none;
}
.blind {
  position: absolute;
  left: 0;
  top: -99999em;
}
/* ============ 바로가기 ============ */
#skip-nav a {
  position: absolute;
  left: 0;
  top: -50px;
  width: 100%;
  display: block;
  background-color: #000080;
  color: #eee;
  line-height: 2.5em;
  text-align: center;
  z-index: 999;
}
#skip-nav a:focus {
  top: 0;
}
/* ============ wrap ============ */
#wrap {
  width: 760px;
  margin: 0 auto;
}

/* ============ header ============ */
#header {
  /* 로고 absolute 기준 */
  position: relative;

  /* 배너 이미지 영역 확보 */
  padding-bottom: 150px;
  /* background: url(../img/b_about.png) no-repeat right bottom; */
  background: no-repeat right bottom;
}

#index #header {background-image: url(../img/b_about.png);}
#service #header {background-image: url(../img/b_services.png);}
#portfolio #header {background-image: url(../img/b_portfolio.png);}
#contact #header {background-image: url(../img/b_contact.png);}

#header .logo {
  position: absolute;
  left: 0;
  top: 0;
}
#header .gnb::after {
  content: "";
  display: block;
  clear: left;
}
#header::after {
  content:"";
  display: block;
  clear: right;
}
.gnb {
  float:right;
}
#header .gnb li {
  float: left;
}
#header .gnb li a {
  height: 50px;
  display: block;
  /* background-repeat: no-repeat; */
  /* background-position: 0 0; */
  background: no-repeat 0 0;
  text-indent: -9999em;
}
#header .gnb li.mm1 a {
  width: 70px;
  background-image: url(../img/m_about.gif);
  /* background-repeat: no-repeat; */
}
#header .gnb li.mm2 a {
  width: 80px;
  background-image: url(../img/m_services.gif);
  /* background-repeat: no-repeat; */
}
#header .gnb li.mm3 a {
  width: 95px;
  background-image: url(../img/m_portfolio.gif);
  /* background-repeat: no-repeat; */
}
#header .gnb li.mm4 a {
  width: 106px;
  background-image: url(../img/m_contact.gif);
  /* background-repeat: no-repeat; */
}
#header .gnb li a:hover {
  background-position: 0 -50px;
}
#header .gnb li a.on {
  background-position: 0 -100px;
} 
/* ============ container ============ */
#container {
  line-height: 1.6em;
}
#container::after {
  content: "";
  display: block;
  clear: both;
}
#container #content {
  float: left;
  width: 480px;
}
#container #content h2 {
  text-transform: uppercase;
}
#container #aside {
  float: right;
  width: 280px;
}
#container .inner {
  padding: 20px;
}
/* ============ footer ============ */
#footer {
  border-top: 1px solid #ccc;
  padding: 25px;
  background-color: #eee;
  color: #555;
  font-size: 0.9em;
  line-height: 2em;
}
#footer a {
  color: #555;
  text-decoration: none;
}
#footer a:hover {
  color: #2a2a2a;
  text-decoration: underline;
}
#footer::after {
  content: "";
  display: block;
  clear: both;
}
#footer .btm_menu {
  float: right;
}
#footer .btm_menu li {
  display: inline;
  margin-right: 9px;
}
#footer .copy {
  float: left;
}
